{% extends 'account/base.html' %}
{% load staticfiles %}

{% block title_block %}
    员工每月工资录入
{% endblock %}

{% block body_block %}
<div class="mainpanel">
    <div class="contentpanel">
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">

                    <div class="panel-body nopadding">

                        <form class="form-horizontal form-bordered" method="POST">
                            {% if message %}
                            <div class="alert alert-warning">{{ message }}</div>
                            {% endif %}

                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-4 control-label">年</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="year">
                                </div>
                            </div><!-- form-group -->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">月</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="month">
                                </div>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="col-sm-3 control-label">部门</label>
                                <div class="col-sm-9">
                                    <select name="department" id="fruits" data-placeholder="Choose One"
                                        class="width100p" required>
                                        <option value="人事部">人事部</option>
                                        <option value="财务部">财务部</option>
                                        <option value="技术部">技术部</option>
                                        <option value="销售部">销售部</option>
                                        <option value="市场部">市场部</option>
                                        <option value="项目部">项目部</option>
                                    </select>
                                    <label class="error" for="fruits"></label>
                                </div>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="col-sm-3 control-label">姓名</label>
                                <div class="col-sm-9">
                                    <select name="sel_value" id="fruits" data-placeholder="{{ value }}" class="width100p">
                                        <!-- 这里我们遍历form表单中的SELVALUE这个字典,然后把key,value成对取出  -->
                                        <option value=" "> </option>
                                        {% for value in select_form.real_name_list %}
                                        <option value="{{ value }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">基本工资</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="basic_salary">
                                </div>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="col-sm-4 control-label">电话补贴</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="phone_allowance">
                                </div>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="col-sm-4 control-label">加班天数</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="overtime_days">
                                </div>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="col-sm-4 control-label">加班工资</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="overtime_salary">
                                </div>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="col-sm-4 control-label">缺勤天数</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="absence_days">
                                </div>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="col-sm-4 control-label">考勤应扣</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="absence_salary">
                                </div>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="col-sm-4 control-label">其他应扣</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="other_deduction">
                                </div>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="col-sm-4 control-label">其他代扣</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="other_withholding">
                                </div>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="col-sm-4 control-label">代扣个人所得税</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="personal_income_tax">
                                </div>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <p>
                                    <button type="submit" class="btn btn-primary btn-lg">确定</button>
                                </p>
                            </div>


                        </form>
                    </div><!-- panel-body -->
                </div><!-- panel -->
            </div><!-- col-md-6 -->
        </div><!-- row -->
    </div><!-- contentpanel -->
</div><!-- mainpanel -->

{% endblock %}