{% extends 'account/base.html' %}
{% load staticfiles %}

{% block title_block %}
新增工作清单
{% endblock %}

{% block body_block %}
<div class="mainpanel">
    <div class="contentpanel">
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-btns">
                            <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i
                                    class="fa fa-minus"></i></a>
                            <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i
                                    class="fa fa-times"></i></a>
                        </div><!-- panel-btns -->
                        <h4 class="panel-title">工作清单</h4>
                        <p>We are using Select2 to enhanced select boxes. <a
                                href="http://ivaynberg.github.io/select2/">Select2</a> is a jQuery based replacement for
                            select boxes. It supports searching, remote data sets, and infinite scrolling of results.
                        </p>
                    </div><!-- panel-heading -->
                    <div class="panel-body">
                        <h5 class="lg-title">提出人</h5>
                        <p class="mb20">You can hide search box when you have only few items in select boxes.</p>
                        <select id="select-search-hide" data-placeholder="" class="width300">
                            <option value="">请选择</option>
                            {% for value in select_form.real_name_list %}
                            <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                        </select>

                        <div class="mb30"></div>

                        <h5 class="lg-title">负责人</h5>
                        <p class="mb20">Select2 also supports multi-value select boxes. The select below is declared
                            with the multiple attribute. </p>
                        <select id="select-multi" data-placeholder="Choose One" multiple class="width300">
                            <option value="">Choose One</option>
                            <optgroup label="技术部">
                                <option value=" "> </option>
                                {% for value in select_form.userprofiles_techdepart %}
                                <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="人事部">
                                <option value=" "> </option>
                                {% for value in select_form.userprofiles_persondepart %}
                                <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="财务部">
                                <option value=" "> </option>
                                {% for value in select_form.userprofiles_finandepart %}
                                <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="销售部">
                                <option value=" "> </option>
                                {% for value in select_form.userprofiles_salesdepart %}
                                <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="市场部">
                                <option value=" "> </option>
                                {% for value in select_form.userprofiles_marketdepart %}
                                <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="项目部">
                                <option value=" "> </option>
                                {% for value in select_form.userprofiles_projdepart %}
                                <option value="{{ value }}">{{ value }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>

                        <div class="mb30"></div>
                        <div class="mb30"></div>

                        <label for="date">提出时间</label>
                        <div class="input-group mb15">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input type="text" placeholder="Date" id="date" class="form-control" />
                        </div>

                        <div class="mb30"></div>

                        <div class="form-group">
                            <input type="text" placeholder="工作名称" name="" class="form-control mb15">
                        </div><!-- form-group -->

                        <div class="mb30"></div>

                        <div class="form-group">
                            <textarea id="autoResizeTA" placeholder="内容及要求" class="form-control" rows="5"></textarea>
                        </div><!-- form-group -->

                        <div class="mb30"></div>

                        <label>计划完成时间</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div><!-- input-group -->

                        <div class="mb30"></div>

                        <div class="form-group">
                            <div class="btn-list">
                                <button class="btn btn-success btn-rounded">提交</button>
                            </div>
                        </div>

                    </div><!-- panel-body -->
                </div><!-- panel -->

            </div><!-- col-md-6 -->
        </div>
        <!--row-->
    </div><!-- contentpanel -->
</div>

{% endblock %}