<!DOCTYPE html>
{% load staticfiles %}
<!-- load account_template_tags  -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        HRMS - {% block title %} 神马人力资源管理系统 {% endblock %}
    </title>

    <link href="../../static/css/style.datatables.css" rel="stylesheet">
    <link href="../../static/css/style.default.css" rel="stylesheet">
    <link href="../../static/css/jquery.tagsinput.css" rel="stylesheet" />
    <link href="../../static/css/toggles.css" rel="stylesheet" />
    <link href="../../static/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="../../static/css/colorpicker.css" rel="stylesheet" />
    <link href="../../static/css/dropzone.css" rel="stylesheet" />
    <link href="../../static/css/morris.css" rel="stylesheet" />
    <link href="../../static/css/style.calendar.css" rel="stylesheet">

    <link href="../../static/css/select2.css" rel="stylesheet" />
    <link href="../../static/css/style.css" rel="stylesheet">

    <link href="../../static/css/fullcalendar.css" rel="stylesheet">
    <link href="../../static/css/weather-icons.min.css" rel="stylesheet">
    <link href="../../static/css/animate.min.css" rel="stylesheet">
    <link href="../../static/css/animate.delay.css" rel="stylesheet">
    <link href="../../static/css/pace.css" rel="stylesheet">
    <link href="../../static/css/pace.css" rel="stylesheet">

    <script src="../../static/js/jquery-1.11.1.min.js"></script>

</head>

<body>

    <header>
        <div class="headerwrapper">
            <div class="header-left">
                <a href="../../static/index.html" class="logo">
                    <img src="../../static/picture/logo.png" alt="Alpha Logo"/>
                </a>
                <div class="pull-right">
                    <a href="#" class="menu-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div><!-- header-left -->

            <div class="header-right">

                <div class="pull-right">

                    <!-- <form class="form form-search" action="search-results.html">
                        <input type="search" class="form-control" placeholder="Search" />
                    </form> -->


                    <div class="btn-group btn-group-option">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img class="img-circle avatar-img" alt="" src="../../static/images/test.jpg">
                            <span class="user-name">{{ request.user }}</span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="account/profile.html"><i class="glyphicon glyphicon-user"></i> My Profile</a>
                            </li>
                            <li><a href="#"><i class="glyphicon glyphicon-star"></i> Activity Log</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
                        </ul>
                    </div><!-- btn-group -->

                </div><!-- pull-right -->

            </div><!-- header-right -->

        </div><!-- headerwrapper -->
    </header>

    <section>
        <div class="mainwrapper">
            <div class="leftpanel">
                <div class="media profile-left">
                    <a class="pull-left profile-thumb" href="profile.html">
                        <img class="img-circle" src="../../static/picture/test.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ request.user }}</h4>
                        <span class="user-options"><a href="{% url 'profile' %}"><i
                                    class="glyphicon glyphicon-user"></i></a>
                            <a href="message.html"><i class="glyphicon glyphicon-envelope"></i></a>
                            <a href="user-setting.html"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="{% url 'logout' %}"><i class="glyphicon glyphicon-log-out"></i></a>
                        </span>
                    </div>
                </div><!-- media -->


                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'bulletin-board' %}"><i class="fa fa-home"></i> <span>公告栏</span></a></li>
                    <!-- <li><a href="messages.html"><span class="pull-right badge">5</span><i class="fa fa-envelope-o"></i> -->
                            <!-- <span>消息</span></a></li> -->
                    <!-- <li><a href="graphs.html"><i class="fa fa-bar-chart-o"></i> <span>近况总结</span></a> -->
                    <!-- </li> -->
                    <li class="parent"><a href="#"><i class="fa fa-suitcase"></i> <span>考勤</span></a>
                        <ul class="children">
                            <li><a href="{% url 'checkin-and-out' %}">签到/签退</a></li>
                            <li><a href="{% url 'ask-for-leave' %}">请假</a></li>
                            <li><a href="{% url 'attendance-check' %}">请假统计</a></li>
                            <li><a href="{% url 'leave-statistics' %}">加班统计</a></li>
                            <li><a href="{% url 'overtime-statistics' %}">考勤情况查看</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="icons.html"><i class="fa fa-cube"></i> <span>系统功能</span></a></li> -->
                    <li class="parent"><a href="#"><i class="fa fa-cube"></i> <span>系统功能</span></a>
                        <ul class="children">
                            <li><a href="basic-tables.html">权限管理</a></li>
                            <li><a href="{% url 'announcement-management' %}">公告管理</a></li>
                        </ul>
                    </li>
                    <li class="parent"><a href="#"><i class="fa fa-edit"></i> <span>员工信息</span></a>
                        <ul class="children">
                            <li><a href="{% url 'graph-forms' %}">员工信息统计</a></li>
                            <li><a href="{% url 'general-forms' %}">新增员工信息</a></li>
                            <li><a href="{% url 'search-forms' %}">员工信息查询</a></li>
                        </ul>
                    </li>
                    <li class="parent"><a href="#"><i class="fa fa-bars"></i> <span>薪资管理</span></a>
                        <ul class="children">
                            <li><a href="{% url 'payroll-entry' %}">员工每月工资录入</a></li>
                            <li><a href="{% url 'analysis-of-wage-costs' %}">工资成本统计分析</a></li>
                            <li><a href="data-tables.html">员工奖惩记录(任选)</a></li>
                        </ul>
                    </li>
                    <li class="parent"><a href="#"><i class="fa fa-file-text"></i> <span>工作清单表</span></a>
                        <ul class="children">
                            <li><a href="{% url 'new-job-list' %}">新增工作清单</a></li>
                            <li><a href="{% url 'worklist-summary' %}">工作清单汇总</a></li>
                            <li><a href="locked.html">Locked Screen</a></li>
                        </ul>
                    </li>
                    <li class="parent"><a href="#"><i class="fa fa-bar-chart-o"></i> <span>收支记账</span></a>
                        <ul class="children">
                            <li><a href="{% url 'income-entry' %}">收入录入</a></li>
                            <li><a href="{% url 'expenditure-entry' %}">支出录入</a></li>
                            <li><a href="{% url 'income-and-expenditure-details' %}">收支明细</a></li>
                            <li><a href="{% url 'total-summary' %}">收支汇总</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'company-information' %}"><i class="fa fa-map-marker"></i> <span>公司信息</span></a></li>
                </ul>

            </div><!-- leftpanel -->

            {% block body_block %}

            {% endblock %}

            <!-- <div class="mainpanel">
                    <div class="contentpanel"> -->

            <!-- CONTENT GOES HERE -->

            <!-- </div> -->
            <!-- contentpanel -->

            <!-- </div> -->
        </div><!-- mainwrapper -->
    </section>


    
    <script src="../../static/js/jquery-ui-1.10.3.min.js"></script>
    <script src="../../static/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/modernizr.min.js"></script>
    <script src="../../static/js/pace.min.js"></script>
    <script src="../../static/js/retina.min.js"></script>
    <script src="../../static/js/jquery.cookies.js"></script>
    <script src="../../static/js/jquery.scrollto.min.js"></script>
    <script src="../../static/js/jquery.slimscroll.js"></script>
    <script src="../../static/js/jquery.flot.min.js"></script>
    <script src="../../static/js/jquery.flot.resize.min.js"></script>
    <script src="../../static/js/jquery.flot.spline.min.js"></script>

    <script src="../../static/js/jquery.autogrow-textarea.js"></script>
    <script src="../../static/js/jquery.mousewheel.js"></script>
    <script src="../../static/js/jquery.tagsinput.min.js"></script>
    <script src="../../static/js/toggles.min.js"></script>
    <script src="../../static/js/bootstrap-timepicker.min.js"></script>
    <script src="../../static/js/jquery.maskedinput.min.js"></script>
    <script src="../../static/js/select2.min.js"></script>
    <script src="../../static/js/colorpicker.js"></script>
    <script src="../../static/js/dropzone.min.js"></script>

    <script src="../../static/js/custom.js"></script>
    <script src="../../static/js/jquery.datatables.min.js"></script>



    <script>
        jQuery(document).ready(function () {

            jQuery('#basicTable').DataTable({
                responsive: true
            });

            var shTable = jQuery('#shTable').DataTable({
                "fnDrawCallback": function (oSettings) {
                    jQuery('#shTable_paginate ul').addClass('pagination-active-dark');
                },
                responsive: true
            });

            // Show/Hide Columns Dropdown
            jQuery('#shCol').click(function (event) {
                event.stopPropagation();
            });

            jQuery('#shCol input').on('click', function () {

                // Get the column API object
                var column = shTable.column($(this).val());

                // Toggle the visibility
                if ($(this).is(':checked'))
                    column.visible(true);
                else
                    column.visible(false);
            });

            var exRowTable = jQuery('#exRowTable').DataTable({
                responsive: true,
                "fnDrawCallback": function (oSettings) {
                    jQuery('#exRowTable_paginate ul').addClass('pagination-active-success');
                },
                "ajax": "ajax/objects.txt",
                "columns": [
                    {
                        "class": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    { "data": "name" },
                    { "data": "position" },
                    { "data": "office" },
                    { "data": "salary" }
                ],
                "order": [[1, 'asc']]
            });

            // Add event listener for opening and closing details
            jQuery('#exRowTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = exRowTable.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });


            // DataTables Length to Select2
            jQuery('div.dataTables_length select').removeClass('form-control input-sm');
            jQuery('div.dataTables_length select').css({ width: '60px' });
            jQuery('div.dataTables_length select').select2({
                minimumResultsForSearch: -1
            });

        });

        function format(d) {
            // `d` is the original data object for the row
            return '<table class="table table-bordered nomargin">' +
                '<tr>' +
                '<td>Full name:</td>' +
                '<td>' + d.name + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Extension number:</td>' +
                '<td>' + d.extn + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Extra info:</td>' +
                '<td>And any further details here (images etc)...</td>' +
                '</tr>' +
                '</table>';
        }
    </script>
    <script>
        jQuery(document).ready(function () {

            // Tags Input
            jQuery('#tags').tagsInput({ width: 'auto' });

            // Textarea Autogrow
            jQuery('#autoResizeTA').autogrow();

            // Spinner
            var spinner = jQuery('#spinner').spinner();
            spinner.spinner('value', 0);

            // Form Toggles
            jQuery('.toggle').toggles({ on: true });

            // Time Picker
            jQuery('#timepicker').timepicker({ defaultTIme: false });
            jQuery('#timepicker2').timepicker({ showMeridian: false });
            jQuery('#timepicker3').timepicker({ minuteStep: 15 });

            // Date Picker
            jQuery('#datepicker').datepicker();
            jQuery('#datepicker-inline').datepicker();
            jQuery('#datepicker-multiple').datepicker({
                numberOfMonths: 3,
                showButtonPanel: true
            });

            // Date Picker
            jQuery('#datepicker1').datepicker();
            jQuery('#datepicker1-inline').datepicker();
            jQuery('#datepicker1-multiple').datepicker({
                numberOfMonths: 3,
                showButtonPanel: true
            });

            // Input Masks
            jQuery("#date").mask("99/99/9999");
            jQuery("#phone").mask("(999) 999-9999");
            jQuery("#ssn").mask("999-99-9999");

            // Select2
            jQuery("#select-basic, #select-multi").select2();
            jQuery('#select-search-hide').select2({
                minimumResultsForSearch: -1
            });

            function format(item) {
                return '<i class="fa ' + ((item.element[0].getAttribute('rel') === undefined) ? "" : item.element[0].getAttribute('rel')) + ' mr10"></i>' + item.text;
            }

            // This will empty first option in select to enable placeholder
            jQuery('select option:first-child').text('');

            jQuery("#select-templating").select2({
                formatResult: format,
                formatSelection: format,
                escapeMarkup: function (m) { return m; }
            });

            // Color Picker
            if (jQuery('#colorpicker').length > 0) {
                jQuery('#colorSelector').ColorPicker({
                    onShow: function (colpkr) {
                        jQuery(colpkr).fadeIn(500);
                        return false;
                    },
                    onHide: function (colpkr) {
                        jQuery(colpkr).fadeOut(500);
                        return false;
                    },
                    onChange: function (hsb, hex, rgb) {
                        jQuery('#colorSelector span').css('backgroundColor', '#' + hex);
                        jQuery('#colorpicker').val('#' + hex);
                    }
                });
            }

            // Color Picker Flat Mode
            jQuery('#colorpickerholder').ColorPicker({
                flat: true,
                onChange: function (hsb, hex, rgb) {
                    jQuery('#colorpicker3').val('#' + hex);
                }
            });

            jQuery('#fruitss').select2({
                minimumResultsForSearch: -1
            });


        });
    </script>

    <script src="../../static/js/fullcalendar.min.js"></script>
    <script src="../../static/js/dashboard.js"></script>

</body>

</html>